@page "/OA/User/Edit/{Item}"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager


<h3>Editar Usuário</h3>

<EditForm Model="@user" OnValidSubmit="SubmitUser" @onreset="HandleReset">
    <DataAnnotationsValidator />
    <div class="form-group">
        <br />
        <div class="row col-12">
            <div class="col-5">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="@user.Name"></InputText>
                <ValidationMessage For="@(() => user.Name)"></ValidationMessage>
            </div>
            <div class="col-5">
                <label>Telefone</label>
                <InputText class="form-control" @bind-Value="@user.Telephone"></InputText>
                <ValidationMessage For="@(() => user.Telephone)"></ValidationMessage>
            </div>
        </div>
        <div class="row col-12 d-flex justify-content-center">
            <button class="btn btn-success" type="submit" style="margin-right:10px;">Salvar</button>
            <button class="btn btn-secondary" type="reset">Cancelar</button>
        </div>
    </div>
</EditForm>

@code {
    private string URL = "/v1/OA/UserOA";
    private UserOA user = new UserOA();
    private EditContext editContext { get; set; }

    [Parameter]
    public string Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<UserOA>($"{URL}/ById?id={Item}");
        editContext = new EditContext(user);
    }

    private async Task SubmitUser()
    {
        await Http.PutAsJsonAsync(URL, user);
        NavigationManager.NavigateTo("OA/Users");
    }

    private void HandleReset()
    {
        user = new UserOA();
        editContext = new EditContext(user);
        NavigationManager.NavigateTo("OA/Users");
    }
}
