@page "/OA/Purchase"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

    <h3>Realizar Venda</h3>

<EditForm Model="@sale" OnValidSubmit="CreatePurchase" @onreset="HandleReset">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div class="row col-12">
            <div class="col-6">
                <label>Nome do Cliente</label>
                <select class="form-control" @bind="sale.UserOAId">
                    <option value="">Selecione...</option>
                    @foreach (var optUser in users)
                    {
                        <option value="@optUser.Id">@optUser.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => sale.UserOAId)"></ValidationMessage>
            </div>
            <div class="col-6">
                <label>Produto</label>
                <select class="form-control" @bind="sale.ProductOAId">
                    <option value="">Selecione...</option>
                    @foreach (var optPrd in products)
                    {
                        <option value="@optPrd.Id">@optPrd.Name</option>
                    }
                </select>
                <ValidationMessage For="@(() => sale.ProductOAId)"></ValidationMessage>
            </div>
        </div>
        <div class="row col-12 d-flex justify-content-center">
            <button class="btn btn-success" type="submit" style="margin-right:10px;">Comprar</button>
            <button class="btn btn-secondary" type="reset">Cancelar</button>
        </div>
    </div>
</EditForm>

@code {
    private string URL = "/v1/OA/SaleOA";
    private List<UserOA> users = new List<UserOA>();
    private List<ProductOA> products = new List<ProductOA>();
    private SaleOA sale = new SaleOA();
    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {

        users = await Http.GetFromJsonAsync<List<UserOA>>("/v1/OA/UserOA");
        products = await Http.GetFromJsonAsync<List<ProductOA>>("/v1/OA/ProductOA");
    }

    private async Task CreatePurchase()
    {
        sale.ProductPurchaseStatusOAId = 1;
        await Http.PostAsJsonAsync(URL, sale);
        NavigationManager.NavigateTo("OA/ListSalesApprove");
    }

    private void HandleReset()
    {
        sale = new SaleOA();
        editContext = new EditContext(sale);
    }
}
